<form method="POST" action="/new">
  <label>Your name:</label>
  <br>
  <input type="text" name="txtAuthor" required/>
  <br>
  <label>Say something:</label>
  <br>
  <input type="text" name="txtMessage" required/>
  <br>
  <input type="submit" value="Send Message" />
</form> 
