<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/new" class='form'>
      <div>
      <label>Your name:</label>
      <input type="text" name="txtAuthor" required placeholder='user123' minLength='3' maxLength='15' />
      </div>
      <div>
      <label>Say something:</label>
      <textarea type="text" name="txtMessage" required placeholder='hello world' maxLength='100'/></textarea>
      </div>
      <input type="submit" value="Send Message" class='button'/>
    </form> 
    <a href='/'>No sorry!</a>
  </body>
</html>

