* {
  box-sizing: border-box;
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #000;
  color: #fff;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

.message-box{
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px;
  overflow: scroll;
  max-height: 600px;
}

.user-message-box {
   border-bottom: 1px solid #555;
}


.user-message {
   color: #555;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  width: 100%; 
  align-items: center;
}



.form div {
  margin: 10px;
  display: flex;
  flex-direction: column;
  max-width:100%;

}

label{
  margin-bottom: 10px;
}

form>div>input{
  border-radius: 5px;
  border: none;
  padding: 1em;
}

.button {
  padding: 10px;
  background: #fff;
  color: #00B7FF;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  border: none;
}

.button:hover {
  color: #fff;
  background: blue;
}

textarea{
  resize: none;
  min-height: 70px;
  
  border-radius: 5px;
  padding: 1em;
}

.link {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
}

.link:hover {
  background: blue;
  color: #fff;
}

